browse:
  path: /{_locale}/browse
  controller: App\Controller\FamilyTreeController::browse
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'


tree_show:
  path: /{_locale}/u/{usernameCanonical}/tree
  controller: App\Controller\FamilyTreeController::show
  requirements:
    _locale: '%app_locales%'
  defaults:
    _locale: '%locale%'

categories_list_sub_categories:
  path: /{_locale}/get-sub-categories
  controller: App\Controller\SelectAdCategoryController::listSubCategoriesOfCategory
  methods: GET
