:root{
	--primary-color: #2bbbad;
	--second-color: #da6f28;
}

img.avatar {
    width: 33px
}
a.navbar-brand{
    font-size: 1.57rem;
}
a.navbar-brand i{
    font-size: 21px;
}

.nav-item.avatar.dropdown {
    top: -4px;
}

#logo{
    height: 50px;
}

main.main-section {
    min-height: 500px;
    margin-top: -4px;
}
.navbar.navbar-dark form .md-form{
    top: -4px
}
.navbar.navbar-dark form .md-form .form-control{
    width: 133px !important;
    transition: width .5s !important;
}
.navbar.navbar-dark form .md-form .form-control:focus{
    width: 290px !important;
    border-radius: 7px;
    padding: 5px 3px 5px 10px;
}

.navbar.navbar-dark form .md-form i{
    position: absolute;
    bottom: 29%;
    color: #fff;
    right: 10px;
    font-weight: 200;
    font-size: 15px;
}

#navbar-static-login:hover {
    background-size: 150% !important;
}

.login-btn:hover{
    background-position: right;
    color: #fff
}

.login-form{
    position: relative;
    margin: 0;
    padding: 0;
    background-size: 100%;
    height: 640px;
}

.login-form form{
    position: absolute;
    width: 400px;
    text-align: justify;
    margin: 3% calc(50% - 200px);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 21px 1px #ccc;
}

.login-form h1{
    font-size: 2.1rem;
    background: linear-gradient(var(--teal), var(--info));
    -o-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    background-size: 100%;
}

button.submit{
    display: block;
    width: 100%;
    margin: 0 auto;
    background-position: right;
}

button.submit:hover {
    background-position: left !important;
    background-size: 150% !important;
}

.bottom-text{
    border-top: 1px solid #ccc;
    width: 100%;
    position: absolute ;
    left: 0;
    bottom: 17px;
    text-align: right;
    padding-right: 17px;
}

.bottom-text a{
    font-size: 13px;
    font-weight: 400;
}
