:root{
	--primary-color: #2bbbad;
	--second-color: #da6f28;
}

img.avatar {
    width: 33px
}
a.navbar-brand{
    font-size: 1.57rem;
}
a.navbar-brand i{
    font-size: 21px;
}

.nav-item.avatar.dropdown {
    top: -4px;
}

#logo{
    height: 50px;
}

main.main-section {
    min-height: 500px;
    margin-top: 60px;
}
.navbar.navbar-dark form .md-form{
    top: -4px
}
.navbar.navbar-dark form .md-form .form-control{
    width: 133px !important;
    transition: width .5s !important;
}
.navbar.navbar-dark form .md-form .form-control:focus{
    width: 290px !important;
    border-radius: 7px;
    padding: 5px 3px 5px 10px;
}

.navbar.navbar-dark form .md-form i{
    position: absolute;
    bottom: 29%;
    color: #fff;
    right: 10px;
    font-weight: 200;
    font-size: 15px;
}

.btn.aqua-gradient:hover {
    background-size: 150% !important;
}

.login-btn:hover{
    background-position: right;
    color: #fff
}
