{% extends 'base.html.twig' %}

{% block main %}

{# Team #}
<!-- Section: Team v.4 -->
<section class="my-5 padding-top-60">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center mb-5">Politique de confidentialité</h2>
  <!-- Section description -->
  <p class="grey-text text-justify w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
    nostrum quisquam eum porro a pariatur veniam.</p>
</section>
<!-- Section: Team v.4 -->

{% endblock %}