{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.twig' as breadcrumb %}
{% from 'util/user.twig' import card as user_card %}

{% block title %}{{ 'tree.list.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block main %}
<div class="container">

    {{ breadcrumb.level1('tree.list.title') }}

    <!-- Card deck -->
    <div class="row browse">
    {% for user in users %}
        {{ user_card(user) }}
    {% else %}
        <div class="alert alert-info">
            <p>Il n'y a acutellement aucun arbre.</p>
    {% endfor %}
    </div>
</div>

{% include 'common/call-to-action.html.twig' %}

{% endblock %}
