<!-- Section: Social news card -->
<section class="my-5">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 col-lg-4">

    <!-- Card -->
    <div class="card news-card">

      <!-- Heading-->
      <div class="card-body">
        <div class="content">
          <div class="right-side-meta">14 h</div>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle avatar-img z-depth-1-half">Kate
        </div>
      </div>

      <!-- Card image-->
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/girl1.jpg" alt="Card image cap">

      <!-- Card content -->
      <div class="card-body">

        <!-- Social meta-->
        <div class="social-meta">
          <p>Another great adventure! </p>
          <span><i class="far fa-heart"></i>25 likes</span>
          <p><i class="fas fa-comment"></i>13 comments</p>
        </div>
        <hr>
        <!-- Comment input -->
        <div class="md-form">
          <i class="far fa-heart prefix"></i>
          <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
        </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

</section>
<!-- Section: Social news card -->












{# { Deck Group } #}
<!-- Card deck -->
<div class="card-deck">

<!-- Card -->
<div class="card mb-4">

  <!--Card image-->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">

    <!--Title-->
    <h4 class="card-title">Card title</h4>
    <!--Text-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

  </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card mb-4">

  <!--Card image-->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">

    <!--Title-->
    <h4 class="card-title">Card title</h4>
    <!--Text-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

  </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card mb-4">

  <!--Card image-->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">

    <!--Title-->
    <h4 class="card-title">Card title</h4>
    <!--Text-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

  </div>

</div>
<!-- Card -->

</div>
<!-- Card deck -->