<!-- Counters strat -->
<div class="counters">
    <h1>Statistiques de AHM</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <h1 class="counter">967</h1>
                    <h5>{{ 'statistics.estab'|trans }}</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <h1 class="counter">577</h1>
                    <h5>{{ 'statistics.booking'|trans }}</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <h1 class="counter">1398</h1>
                    <h5>{{ 'statistics.rooms'|trans }}</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-box counter-box-2">
                    <h1 class="counter">376</h1>
                    <h5>{{ 'statistics.meals_served'|trans }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
