{% macro card(user) %}
    <div class="card mb-4">
        <div class="view overlay">
            <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/default-avatar-profile.jpg') }}">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{ user.fullName }}</h5>
            <p class="card-text text-justify">Une petite description de la famille. Une petite description de la famille</p>
            <div class="bottom-text">
                <hr>
                <span>
                    <i class="far fa-tree"></i>
                    13 membres</span>
                <p class="float-right">
                    <i class="fas fa-layer-group"></i>
                    4 générations</p>
            </div>
            <button class="btn aqua-gradient btn-block" type="button">Détails</button>
        </div>
    </div>
{% endmacro %}
