<!-- Call to Action -->
<div class="call-to-action-bg section-margin padding-top-90 padding-bottom-90 wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="call-to-action-2 wow fadeInDown" data-wow-delay=".6s">
                    <div class="call-to-action-content">
                        <h2>Ajoutez votre arbre</h2>
                        <p>Add resume or post a job. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                    </div>
                    <div class="call-to-action-button">
                        <a class="button sign-in" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
                        <span>Ou</span>
                        <a class="button sign-up" href="{{ path('fos_user_registration_register') }}"><i class="fas fa-user-plus"></i> Inscription</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->