<!-- Section: Products v.1 -->
<section class="text-center my-5">

<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Our bestsellers</h2>
<!-- Section description -->
<p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
  nostrum quisquam eum porro a pariatur veniam.</p>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
    <!-- Card -->
    <div class="card card-cascade narrower card-ecommerce">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/1.jpg" class="card-img-top"
          alt="sample photo">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Category & Title -->
        <a href="" class="grey-text">
          <h5>Denim</h5>
        </a>
        <h4 class="card-title">
          <strong>
            <a href="">Denim trousers</a>
          </strong>
        </h4>
        <!--Rating-->
        <ul class="rating">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="far fa-star"></i>
          </li>
        </ul>
        <!-- Description -->
        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit..
        </p>
        <!-- Card footer -->
        <div class="card-footer px-1">
          <span class="float-left font-weight-bold">
            <strong>49$</strong>
          </span>
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
              <i class="fas fa-shopping-cart grey-text ml-3"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Share">
              <i class="fas fa-share-alt grey-text ml-3"></i>
            </a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
              <i class="fas fa-heart ml-3"></i>
            </a>
          </span>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
    <!-- Card -->
    <div class="card card-cascade narrower card-ecommerce">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/2.jpg" class="card-img-top"
          alt="sample photo">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Category & Title -->
        <a href="" class="grey-text">
          <h5>Shoes</h5>
        </a>
        <h4 class="card-title">
          <strong>
            <a href="">High heels</a>
          </strong>
        </h4>
        <!--Rating-->
        <ul class="rating">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
        </ul>
        <!-- Description -->
        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
        </p>
        <!-- Card footer -->
        <div class="card-footer px-1">
          <span class="float-left font-weight-bold">
            <strong>89$</strong>
          </span>
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
              <i class="fas fa-shopping-cart grey-text ml-3"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Share">
              <i class="fas fa-share-alt grey-text ml-3"></i>
            </a>
            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
              <i class="fas fa-heart grey-text ml-3"></i>
            </a>
          </span>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
    <!-- Card -->
    <div class="card card-cascade narrower card-ecommerce">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/4.jpg" class="card-img-top"
          alt="sample photo">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Category & Title -->
        <a href="" class="grey-text">
          <h5>Outwear</h5>
        </a>
        <h4 class="card-title">
          <strong>
            <a href="">Brown coat</a>
          </strong>
        </h4>
        <!--Rating-->
        <ul class="rating">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt"></i>
          </li>
        </ul>
        <!-- Description -->
        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
        </p>
        <!-- Card footer -->
        <div class="card-footer px-1">
          <span class="float-left font-weight-bold">
            <strong>59$</strong>
          </span>
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
              <i class="fas fa-shopping-cart grey-text ml-3"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Share">
              <i class="fas fa-share-alt grey-text ml-3"></i>
            </a>
            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
              <i class="fas fa-heart grey-text ml-3"></i>
            </a>
          </span>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card card-cascade narrower card-ecommerce">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/3.jpg" class="card-img-top"
          alt="sample photo">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Category & Title -->
        <a href="" class="grey-text">
          <h5>Blouses</h5>
        </a>
        <h4 class="card-title">
          <strong>
            <a href="">Shirt</a>
          </strong>
        </h4>
        <!--Rating-->
        <ul class="rating">
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="fas fa-star"></i>
          </li>
          <li>
            <i class="far fa-star"></i>
          </li>
        </ul>
        <!-- Description -->
        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
        </p>
        <!-- Card footer -->
        <div class="card-footer px-1">
          <span class="float-left font-weight-bold">
            <strong>119$</strong>
          </span>
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
              <i class="fas fa-shopping-cart grey-text ml-3"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Share">
              <i class="fas fa-share-alt grey-text ml-3"></i>
            </a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
              <i class="fas fa-heart ml-3"></i>
            </a>
          </span>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

</section>
<!-- Section: Products v.1 -->